bucket       = "REPLACE_WITH_STATE_BUCKET_NAME"
key          = "airbnb-market-intelligence/bootstrap/terraform.tfstate"
region       = "ap-southeast-1"
encrypt      = true
kms_key_id   = "REPLACE_WITH_STATE_KMS_KEY_ARN"
use_lockfile = true
